<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
   <h2>Education</h2>
    <br>
    <br>

    <div style="text-align: center;">
        <div style="display: inline-flex; align-items: center;">
            <img src="static/images/coventry-university-logo-300x208.jpg" width="100" alt="Coventry University Logo" style="margin-right: 10px;">
            <div>
                <b>MSc Engineering Project Management</b>
                <p>Coventry University, United Kingdom<br>
                  <p>September/2020 – July/2022<br>
                  Graduated with distinction</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    

    <div style="text-align: center;">
        <div style="display: inline-flex; align-items: center;">
            <img src="static/images/Cambrian.png" width="100" alt="Cambrian College Logo" style="margin-right: 10px;">
            <div>
                <b>Post Graduate Certificate in Business Analytics</b>
                <p>Cambrian College of Arts and Technology, Canada<br> May 2024 – Date</p>
            </div>
        </div>
    </div>
    <br>
    <br>


    <div style="text-align: center;">
        <div style="display: inline-flex; align-items: center;">
            <img src="static/images/University_of_Ghana.png" width="100" alt="University of Ghana Logo" style="margin-right: 10px;">
            <div>
                <b>Bachelor of Arts in Economics and Statistics</b>
                <p>University of Ghana, Accra, Ghana<br> September/2011 – May/2015</p>
            </div>
        </div>
    </div>
    
    

    <br>
      <a href="/"><button>Home</button></a>
      <a href="/exp"><button>Experience</button></a>
      <a href="/skills"><button>Skills</button></a>
      <a href="/lic"><button>Licenses and Certifications</button></a>
      <a href="/pjct"><button>Projects</button></a>
      <a href="/weather"><button>Weather</button></a>
      <a href="/bmi"><button>BMI Calculator</button></a>
  <br>
      <br>
    

    </center>
  <script src="script.js"></script>
</body>

</html>