<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
    <h2 style="background-color:aqua">Welcome to my website. My name is</h2>
  <b>Nana Ama Konadu Aning</b>
    <br>
    <br>
    <img src="static/images/V41B1507.jpg" width="250">
    <p>A versatile professional with Administration, Project Management, Office Management, and Executive Assistant experience, known for successfully executing diverse administrative and project tasks to accomplish pending deadlines. An enthusiastic problem solver and talented performer with superior communication, planning, organizing, and decision-making skills.
      
      I have a Bachelor of Arts in Economics and Statistics from the University of Ghana and an MSc in Engineering Project Management from Coventry University in the UK, where I graduated with distinction. I am currently pursuing another postgraduate program in Business Analytics at Cambrian College in Sudbury, Canada. I also have certifications in Google Project Management, Ghana Investments, Fund Management, and Securities, Lean Six Sigma White Belt, and Data Analytics for Decision Making.</p>

    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
    <a href="exp.html"><button>Experience</button></a>
    <a href="skills.html"><button>Skills</button></a>
    <a href="edu.html"><button>Education</button></a>
    <a href="lic.html"><button>Licenses and Certifications</button></a>
    <a href="pjct.html"><button>Projects</button></a>

    <br>
    <br>
    <a href="Docs/resume.pdf">Resume</a>

    
    </center>
  <script src="script.js"></script>
</body>

</html>