<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
   <h2>Licenses and Certifications</h2>
    <br>
    <br>

    <div style="text-align: center;">
      <div style="display: inline-flex; align-items: center;">
          <img src="static/images/google.webp" width="150" height="80" alt="Google logo" style="margin-right: 10px;">
          <div>
              <b>Google Project Management: Professional Certificate</b>
              <p>2023
                <br>
                Credential ID: PVNU749UDNMK</p>
          </div>
      </div>
    </div>
    <br>
    <br>

    <div style="text-align: center;">
      <div style="display: inline-flex; align-items: center;">
          <img src="static/images/LSS White Belt.jpeg" width="150" height="80" alt="LSS logo" style="margin-right: 10px;">
          <div>
              <b>Lean Six Sigma White Belt, MF Treinamentos, Brazil</b>
              <p>2022
                <br>
                Credential ID: JLHFDRHRHK-BTZTQQCN-YDSWRGWWGB</p>
          </div>
      </div>
    </div>
    <br>

    <div style="text-align: center;">
      <div style="display: inline-flex; align-items: center;">
          <img src="static/images/Bond-university-logo.png" width="120" height="120" alt="Bond University logo" style="margin-right: 10px;">
          <div>
              <b>Data Analytics for Decision Making: An Introduction to Using Excel</b>
              <p>2020
                <br>
                Bond University, Australia</p>
          </div>
      </div>
    </div>

    
    <div style="text-align: center;">
      <div style="display: inline-flex; align-items: center;">
          <img src="static/images/university-of-southampton-vector-logo.png" width="120" height="120" alt="University of Southampton logo" style="margin-right: 10px;">
          <div>
              <b>Developing Your Research Project</b>
              <p>2017
                <br>
            University of Southampton</p>
                  </div>
              </div>
            </div>
            <br>


    
    <div style="text-align: center;">
      <div style="display: inline-flex; align-items: center;">
          <img src="static/images/GSE.jpg" width="120" height="80" alt="Ghana Stock Exchange logo" style="margin-right: 10px;">
          <div>
              <b>Ghana Stock Exchange Securities Course</b>
              <p>2015
                <br>
                <p>Ghana Investment and Securities Institute, Accra, Ghana<br>
                Credential ID: GSE/15/108981</p>
          </div>
      </div>
    </div>
    <br>
   
    <a href="/"><button>Home</button></a>
    <a href="/exp"><button>Experience</button></a>
    <a href="/skills"><button>Skills</button></a>
    <a href="/edu"><button>Education</button></a>
    <a href="/pjct"><button>Projects</button></a>
    <a href="/weather"><button>Weather</button></a>
    <a href="/bmi"><button>BMI Calculator</button></a>

    </center>
  <script src="script.js"></script>
</body>

</html>