<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
   <h2>Projects</h2>
    <br>

    <img src="static/images/projects.jpg" width="300" height="150">
    <br>
    <br>

    <table>
      <tr>
        <th>Date (from - to)</th>
        <th>Location(s)</th>
        <th>Company / Project Partners</th>
        <th>Role / Position</th>
        <th>Project Name / Title</th> 
      </tr>
      <tr>
        <td>2023-2024</td>
        <td>Accra</td>
        <td>Hospital Engineering / German Development Cooperation (GIZ) in collaboration with Ghana Health Service</td>
        <td>Project Coordinator</td>
        <td>Ghana Heart Initiative (GHI) Ihre Bestell Project Nr. 7500083340/Ghana</td> 
      </tr>
      <tr>
        <td>2023</td>
        <td>9 Regions in Ghana</td>
        <td>9K Media Hub / Bliss GVS Pharma</td>
        <td>Project Manager</td>
        <td>PR activation project (ACT for Africa Campaign) for World Malaria Day 2023 </td>
      </tr>
      <tr>
        <td>2022-2023</td>
        <td>Accra,
          Kumasi,
          Tamale &
          Cape Coast
</td>
        <td>Hospital Engineering & African German Health Association (AGHA) / German Development Cooperation (GIZ) in collaboration with the Ministry of Health & Ghana Health Service/td>
        <td>Project Manager</td>
        <td>Strengthening Together the Physical and Digital Infrastructure of Ghana’s Healthcare Sector Project (Coalition for Health – C4H), Ghana </td>
      </tr>
      <tr>
        <td>2022</td>
        <td>Accra</td>
        <td>Hospital Engineering / German Development Cooperation (GIZ) in collaboration with the Ministry of Health & Ghana Health Service</td>
        <td>Project Manager</td>
        <td>Covid-19 Vaccination Campaign Training and Workshop Programme, Ghana</td>
      </tr>
      <tr>
        <td>2021-2022</td>
        <td>Komfo Anokye Teaching Hospital (KATH), Kumasi</td>
        <td>Hospital Engineering / German Development Cooperation (GIZ) in collaboration with the Ministry of Health </td>
        <td>Project Coordinator</td>
        <td>"GIZ-Covid-19" Project Nr 81264009, Ghana</td>
      </tr>
      <tr>
        <td>2021-2022</td>
        <td>Accra,
          Kumasi &
          Saltpond
</td>
        <td>Hospital Engineering & African German Health Association (AGHA) / German Development Cooperation (GIZ) in collaboration with the Ministry of Health & Ghana Health Service</td>
        <td>Project Coordinator</td>
        <td>Strengthening Together the Physical and Digital Infrastructure of Ghana’s Healthcare Sector Project (Coalition for Health – C4H), Ghana</td>
        </tr>
        <tr>
          <td>2020-2022</td>
          <td>Accra</td>
          <td>Hospital Engineering / German Development Cooperation (GIZ) in collaboration with the Ministry of Health & Ghana Health Service</td>
          <td>Project Coordinator</td>
          <td>COVID-19 – Alliance of Ghanaian Hospitals to Secure Medical Staff Project, Ghana</td>
      </tr>
    </table>


    <br>
    <a href="/"><button>Home</button></a>
    <a href="/exp"><button>Experience</button></a>
    <a href="/skills"><button>Skills</button></a>
    <a href="/edu"><button>Education</button></a>
    <a href="/lic"><button>Licenses and Certifications</button></a>
    <a href="/weather"><button>Weather</button></a>
    <a href="/bmi"><button>BMI Calculator</button></a>

    </center>
  <script src="script.js"></script>
</body>

</html>