<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
   <h2>Skills</h2>
    <br>
    <br>

    <div style="display: inline-flex; align-items: flex-start;">
        <img src="static/images/professional-skills-icon-concept_23785-2248.avif" width="80" alt="Professional skills Logo" style="margin-right: 10px;">
        <div>
            <h3>Professional Skills</h3>
            <ul style="list-style-type: none; padding-left: 0; line-height: 1.6;">
                <li>• Project Management</li>
                <li>• Effective Communication</li>
                <li>• Administrative Coordination and Team Support</li>
                <li>• Planning and Organizing</li>
                <li>• Report Analysis & Problem Solving</li>
                <li>• Attention to detail & Confidentiality</li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    

    <div style="display: inline-flex; align-items: flex-start;">
        <img src="static/images/tchnical skills.png" width="80" alt="Technical skills Logo" style="margin-right: 10px;">
        <div>
            <h3>Technical Skills</h3>
            <ul style="list-style-type: none; padding-left: 0; line-height: 1.6;">
                <li>• Microsoft Office</li>
                <li>• Project Management Software and Digital tools</li>
                <li>• Tableau</li>
                <li>• SQL</li>
                <li>• Python</li>
               
            </ul>
        </div>
    </div>
    <br>
    <br>



    <br>
      <a href="/"><button>Home</button></a>
      <a href="/exp"><button>Experience</button></a>
      <a href="/lic"><button>Licenses and Certifications</button></a>
      <a href="/edu"><button>Education</button></a>
      <a href="/pjct"><button>Projects</button></a>
      <a href="/weather"><button>Weather</button></a>
      <a href="/bmi"><button>BMI Calculator</button></a>

    </center>
  <script src="script.js"></script>
</body>

</html>