<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>

    <center>
      <h1 style="background-color: #FFECC8;">
        <img src="static/images/cloudy.png" width="50" height ="50"> Weather
      </h1>
      <br>



    <br>
      <a href="/"><button>Home</button></a>
      <a href="/exp"><button>Experience</button></a>
      <a href="/skills"><button>Skills</button></a>
      <a href="/lic"><button>Education</button></a>
      <a href="/pjct"><button>Projects</button></a>
      <a href="/lic"><button>Licenses and Certifications</button></a>
      <a href="/bmi"><button>BMI Calculator</button></a>
  <br>
      <br>

      <!-- Displaying the weather in Sudbury -->
       <div style="background-color: #B7E0FF; padding: 15px; border-radius: 10px; width: 60%; margin-top: 20px;">
        <h3 style="color: #4CAF50;">
          <strong>The weather in Sudbury is 
            <span style="font-size: 24px; color: #FF5722;">{{ temp_c }}°C</span>
          </strong>
          <br>
          <br>
          <br>
          <br>


    </center>
  <script src="script.js"></script>
</body>

</html>